html, body {
    overflow-x: hidden;
}

/* Define a CSS class to set the size of images */
.SpecialImage {
    width: 200px; /* Set the desired width */
    height: 150px; /* Set the desired height */
    max-width: 100%;
    height: auto; /* Ensure images maintain their aspect ratio */
}

.imageDisplayFlex{
    display: flex;
    
}
p{
    text-align: center;
}
/* Add this CSS to your stylesheet */
.divBackgroundDesign{
    background-color: #defade;
}
.divBackgroundDesign:hover {
    transform: scale(1.05); /* Scale the card when hovered */
    transition: transform 0.3s ease; /* Add a smooth transition effect */
}

img{
    width: 150px;
    height: 100px;
    padding: 5px;
}


#imageContainer {
    max-width: 100%; /* Set a maximum width to fit the container */
    display: flex;
    flex-wrap: wrap; /* Allow images to wrap to the next line */
}

.titleDesign{
    color: aqua;
}

.iconImage{
    width: 60px;
    height: 60px;
    margin-left: 15px;
}

