#upperNav{
    background-color: white;
}

#sideNav{
    
    background-color: white;
}


#pointsCard{
  
    text-align: center;
}
#pointsHeader{
    font-size:30px;
    font-weight: bold;
}

#pointsValue{
    font-size:40px;
    font-weight: bold;
    color: #618264;
}
#pointsButton{

    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    transition: box-shadow 0.15s ease,transform 0.15s ease;
    will-change: box-shadow,transform;
    background: #B0D9B1;
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    height: 48px;
    padding: 0 32px;
    font-size: 18px;
    border-radius: 6px;
    color: white;
    transition: box-shadow 0.15s ease,transform 0.15s ease; 

}

#pointsButton:hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    transform: translateY(-2px);
}

#pointsButton:active{
    box-shadow: inset 0px 3px 7px #d6d6e7;
    transform: translateY(2px);
}



.divbox{
    /* display: none; */
    width: 500px;
    height: 200px;
    margin-left: 60px;
}


.centering{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bar{
    
    margin-top: 10px;
    
}

.iconImage{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 10px;
  }
  
.music{
    width: max-content;
    height: 100px;
}

.heightDistance{
    height: 500px;
}

.iconImage{
    width: 40px;
    height: 40px;
}

.navDesign{
    color:#618264;
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.btnHeight{
    height: 70px;
    background-color: white;
    transition: background-color 0.3;;
}



.iconText{
    font-size: 10px;
}

.studyBackGround{
    background-repeat: no-repeat;
    background-size: 100% auto;
    
}


.textColor{
    color: aqua;
}

.mt-6{
    margin-top: 8rem;
}
.btn-outline-purple{
    background-color:#9900cc;
    color:white;
}
.btn-outline-purple:hover{
    background-color: none;
    color:#9900cc;
    border-color:#9900cc;
}
.fa-trash{
    color:rgba(250, 120, 33, 0.726);
}
.my-6{
    margin:0.2rem 0;
}
.text-bold{
    font-weight: bold;
}    
li{
    position: relative;
}
li .delete-item {
    position: absolute;
   right:50px;
}
li .form-check-input {
    position: absolute;
    right:80px;
  }
#mode{
    margin-right:20px;
    padding:0 20px;
}
.dark-mode{
    background: #212529 !important;
    color:#fff !important;
    
}
.dark-mode  .btn-outline-dark{
    color: #fff;
    border : 2px solid #fff;
}
.dark-mode input::placeholder {
    color: white;
  }
.dark-mode input{
    background-color: #404040 !important;
  }
.dark-mode ul li{
    background: #212529 !important;
    color:#fff !important;
}
.dark-mode #cardHeader{
    border-bottom: 2px solid #fff;
}


.todo-container{
    display:flex; /*display delete button at the side*/
    justify-content: space-between;
}

#todolist{
    height:200px;
    overflow:auto;
}

.logoutButton{
    /* design the button */
}
