html, body{
    
   
}
.profileImage{
    width: 50px;
    height: 50px;
    margin: 5px;
}

/* ROW SPACE ADJUSTING FOR TIMER CSS START */
.adjustingSpace{
    margin-left: auto;
    margin-right: auto;
}
/* ROW SPACE ADJUSTING FOR TIMER CSS END */


/* NAVBAR CSS START */
#upperNav{
    background-color: white;
}

#sideNav{
    
    background-color: white;
}
.navDesign{
    color:#618264;
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
/* NAVBAR CSS END */


/* POINTS FEATURE CSS START */
#pointsHeader{
    font-size:15px;
    font-weight: bold;
}

#pointsValue{
    font-size:20px;
    font-weight: bold;
    color: #618264;
}
#pointsButton{

    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    transition: box-shadow 0.15s ease,transform 0.15s ease;
    will-change: box-shadow,transform;
    background: #B0D9B1;
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    height: 28px;
    padding: 0 32px;
    font-size: 18px;
    border-radius: 6px;
    color: white;
    transition: box-shadow 0.15s ease,transform 0.15s ease; 

}

#pointsButton:hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    transform: translateY(-2px);
}

#pointsButton:active{
    box-shadow: inset 0px 3px 7px #d6d6e7;
    transform: translateY(2px);
}

.centering{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* POINTS FEATURE CSS END */

/* BACKGROUND CHANGING CSS START */
.studyBackGround{
    background-repeat: no-repeat;
    background-size: 100% auto;
    
}
/* BACKGROUND CHANGING CSS END */

/* need this code to make the divbox disappear */
.divbox{
    display: none;
}
/* TIMER FEATURE CSS START */

.timerDiv {
    /* opacity: 70%; */
    display: none;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center-align the content horizontally */
    justify-content: center; /* Center-align the content vertically */
    /* height: 200px; /* Set the height of the timer div to the viewport height */
    /* width: 400px; */
    margin-top: 10px;
    width: auto;
    height: 200px;
    background-color: rgb(211, 228, 233) ;
}
#timer-display {
    /* Style for the timer display */

    font-size:50px;
    color:black;
}

.timerbuttons{
    margin-top: 10px; /* Add some space between the timer display and buttons */
    display: flex;
    

}

.timerbuttons button{
    margin-left: 20px;
    margin-right: 20px;
    padding:0px;
    border: 0px;
}
.timerbuttons img{
    border: none;
    width: 40px;
    background-color: rgb(211, 228, 233) ;
    
    
}
/* TIMER FEATURE CSS END */


/* MOOD FEATURE CSS START */
.moodDiv{
    background-color: #e9fce9;
    display: none;
    width: auto;
    height: 200px;
    opacity: 70%;
}


.mood-header{

    margin-top: 10px;
    font-size:30px;
    color:black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

}

.mood-subheader{
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;

}


.mood-buttons{
    margin-top: 40px; 
    display: flex;
    justify-content: center;

}


/* .mood-buttons button{
    margin-left: 10px;
    margin-right: 10px;
    padding:0px;
    border: 0px;
    width: 100px;
} */
/* .mood-buttons img{
    border: none;
    width: 50px; 
    background-color: #e9fce9;
    ;
} */

.mood-buttons button {
    border-radius: 10px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    padding:0px;
    border: 0px;
    width: 200px;
  }
  
  #happy-button {
    background-color: white; 
    color: black; 
    border: 2px solid rgb(222, 222, 14)
  }
  
  #happy-button:hover {
    background-color:rgb(222, 222, 14);
    color: white;
  }
  
  #sad-button {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
  }
  
  #sad-button:hover {
    background-color: #008CBA;
    color: white;
  }
  
  #normal-button {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  #normal-button:hover {
    background-color: #4CAF50;
    color: white;
  }

/* MOOD FEATURE CSS END */





/* TODO LIST CSS START */
.todo-container{
    display:flex; /*display delete button at the side*/
    justify-content: space-between;
    padding: 18px 
}

.deleteButton:hover {
    text-decoration: line-through;
}

.notes__summary-view:hover {
    font-size: 20px;
}

#todolist{
    width: auto;
    height:230px;
    overflow:auto;
    margin-top: 10px;
}


/* TODO LIST CSS END */

