.timer {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center-align the content horizontally */
    justify-content: center; /* Center-align the content vertically */
    height: 200px; /* Set the height of the timer div to the viewport height */
    width: 400px;
    background-color: rgb(211, 228, 233) ;

    
}
#timer-display {
    /* Style for the timer display */
    font-size:50px;
    color:white;

}

.timerbuttons{
    margin-top: 10px; /* Add some space between the timer display and buttons */
    display: flex;
    

}

.timerbuttons button{
    margin-left: 10px;
    margin-right: 10px;
    padding:0px;
    border: 0px;
}
.timerbuttons img{
    border: none;
    width: 40px;
    background-color: rgb(211, 228, 233) ;
    
    
}
